.fundo{
	background-color: #FFECEC;
	margin: 0px;
}
body{margin: 0px;}
h1{color:#A90000;}
.a{
	display: flex;
	flex-direction: row;
	width: 100%;}
.container{
	display: flex;
	width: 50%;
	justify-content: flex-start;
}
.quadrados{
	width: 50%;
	justify-content: flex-end;
	display: flex;
	flex-direction: row;
	margin-right: 4vh;
}
.logo{
	height: 2vh;
	width: 20%;
	margin-left: 30px;
	margin-top: 10px;
	background-color: #FFECEC;
}
.quadrado1{
	height: 4vh;
	width: 4%;
	margin-top: 10px;
	background-color: #FF6363;
}
.quadrado2{
	height: 4vh;
	width: 4%;
	margin-left: 50px;
	margin-top: 10px;
	background-color: #FF6363;
}
.quadrado3{
	height: 4vh;
	width: 4%;
	margin-left: 50px;
	margin-top: 10px;
	background-color: #FF6363;
}
.banner{
	height: 30vh;
	width: 97%;
	margin-left: 30px;
	margin-top: 20px;
	background-color: #A90000;
	display: flex;
}
.franca {
	margin-left: 100px;
}
.australia {
	margin-left: 90px;
}
.dinamarca{
	margin-left: 80px;
}
.tunisia{
	margin-left: 100px;
}
.paises{
	display: flex;
	flex-direction: row;
}
.pais1{
	height: 15vh;
	width: 15%;
	margin-top: 40px;
	margin-left: 77px;
	background-color: #FF7777;
}
.pais2{
	height: 15vh;
	width: 15%;
	margin-top: 40px;
	margin-left: 200px;
	background-color: #FF7777;
}
.pais3{
	height: 15vh;
	width: 15%;
	margin-top: 40px;
	margin-left: 200px;
	background-color: #FF7777;
}
.pais4{
	height: 15vh;
	width: 15%;
	margin-top: 40px;
	margin-left: 200px;
	background-color: #FF7777;
}
.m{	display: flex;
	flex-direction: row;
	width:100%;
}
.meio{
	display: flex;
	flex-direction: row;
	width: 75%;
	justify-content: flex-start;
}
.q1{
	height: 60vh;
	width: 30%;
	margin-top: 150px;
	margin-left: 30px; 
	background-color: #A90000;
}
.mn{ height: 60vh;
	justify-content: center; 
	width: 70%;
	margin-top: 17vh;}
.gd{
	margin-left: 45vh;
}
.sg{margin-left: 5vh;
margin-right: 5vh;}
.ssg{margin-left: 10vh;
margin-right: 5vh;}
.v{display: flex;
	flex-direction: row;
	width: 25%;
	justify-content: flex-end;
}
.q2{
	height: 60vh;
	width: 100%;
	margin-top: 150px; 
	margin-right: 30px; 
	margin-bottom: 50px;
	background-color: #A90000;
}
@media (max-width: 700px){
	.q1,.q2,.quadrado2,.quadrado3,.quadrado4,.v,.ssg{
		display: none;
	}
	.banner{
		height: 30vh;
	width: 96%;
	margin-left: 2%;
	margin-top: 15px;
	background-color: #A90000;
	}
	img{
		padding-left: 0%;
	}
	.fundo{
		margin: 0px;
	}
	.a{
	display: flex;
	flex-direction: row;
	width: 100%;}
.container{
	display: flex;
	width: 50%;
	justify-content: flex-start;
}
.logo{
	height: 2vh;
	width: 40%;
	margin-left: 2%;
	margin-top: 10px;
	background-color: #FFECEC;
}
.quadrado1{
	justify-content: flex-end;
	height: 4vh;
	width: 15%;
	margin-top: 10px;
	background-color: #FF6363;
}
h1{
	font-size: 3vh;
}
h2{font-size: 2vh;}

.franca {
	margin-left: 10px;
	margin-top: 0.5px;
}
.australia {
	margin-left: 9px;
	margin-top: 0.5px;
}
.dinamarca{
	margin-left: 8px;
	margin-top: 0.5px;
}
.tunisia{
	margin-left: 10px;
	margin-top: 0.5px;
}
.mn{ height: 60vh;
 	width: 100%;
	margin-top: 5vh;}
.gd{
	margin-left: 30vh;
}
.sg{margin-left: 10vh;
margin-right: 0vh;}

.paises{
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	display: flex; 
}
.pais1{
	height: 15vh;
	width: 45%;
	margin-top: 10px;
	margin-left: 2.5%;
	background-color: #FF7777;
}
.pais2{
	height: 15vh;
	width:45%;
	margin-top: 10px;
	margin-left: 5%;
	background-color: #FF7777;
}
.pais3{
	height: 15vh;
	width: 45%;
	margin-top: 25px;
	margin-left: 2.5%;
	background-color: #FF7777;
}

.pais4{
	height: 15vh;
	width: 45%;
	margin-top: 25px;
	margin-left: 5%;
	background-color: #FF7777;
}